{% extends 'base.html' %}

{% block title %}Scan URL{% endblock %}}

{% block content %}

    {% if blacklistCheck %}
    <b>{{ blacklistCheck }}</b>  
    {% endif %}

    {% if noIP %}
    <b>{{noIP}}</b>
    {% endif %}

    {% if clean %}
    <table>
        <tr>
            <th>URL</th>
            <th>Phish?</th>
        </tr>
        <tr>
            <td>{{ url }}</td>
            <td>{{ clean }}</td>
        </tr>
    </table>
    <img src="{{ img }}" alt="Placeholder">
    {% endif %}

    {% if phish %}
    <table>
        <tr>
            <th>URL</th>
            <th>Phish?</th>
            <th>IP</th>
            <th>ASN</th>

        </tr>
        <tr>
            <td>{{ url }}</td>
            <td>{{ phish }}</td>
            <td>{{ ip }}</td>
            <td>{{ asn }}</td>
        </tr>
    </table>
    <img src="{{ img }}" alt="Placeholder">
    {% endif %}

{% endblock content %}